---
import ContestLayout from "@/layouts/ContestLayout.astro";
import ProblemForm from "@/components/forms/ProblemForm.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import { variable } from "@/lib/tera";

const problemName = variable("problem_name | default(value=problem.name)");
---

<ContestLayout
    noIndex
    path=`/contests/${variable("contest.id")}/problems/${variable("problem.id")}/edit`
    title={`Edit Problem: ${problemName}`}
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`],
            [
                problemName,
                `/contests/${variable("contest.id")}/problems/${variable("problem.slug")}`
            ],
            [
                "Edit",
                `/contests/${variable("contest.id")}/problems/${variable("problem.slug")}/edit`
            ]
        ]}
    />
    <h1 class="text-2xl">Edit Problem: {problemName}</h1>
    <ProblemForm submitWord="Save" />
</ContestLayout>
