---
import ContestLayout from "@/layouts/ContestLayout.astro";
import Button from "@/components/Button.astro";
import If from "@/components/tera/If.astro";
import ProblemsTable from "@/components/table/ProblemsTable.astro";
import { tag, variable } from "@/lib/tera";
import BreadCrumb from "@/components/BreadCrumb.astro";

const description = `View the problems for ${variable("contest.name")}, WCPC`;
---

<ContestLayout
    path=`/contests/${variable("contest.id")}/problems`
    class="!gap-3"
    title="Problems"
    description={description}
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`]
        ]}
    />
    <h1 class="mb-2 text-2xl">Problems</h1>
    <ProblemsTable
        overrideEmptyText={`${tag("if started")}No Problems${tag("else")}This contest hasn't started yet, check back when it does!${tag("endif")}`}
    />
    <If debugEval={true} expression="can_edit">
        <Button
            class="w-fit self-end"
            as="a"
            href={`/contests/${variable("contest.id")}/problems/new`}>Create New Problem</Button
        >
    </If>
</ContestLayout>
