---
import ContestLayout from "@/layouts/ContestLayout.astro";
import Button from "@/components/Button.astro";
import If from "@/components/tera/If.astro";
import ProblemsTable from "@/components/table/ProblemsTable.astro";
import { variable } from "@/lib/tera";
import BreadCrumb from "@/components/BreadCrumb.astro";
---

<ContestLayout class="!gap-3" title="Problems" makeTile>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}`],
            ["Problems", `/contests/${variable("contest.id")}/problems`]
        ]}
    />
    <h1 class="mb-2 text-2xl">Problems</h1>
    <ProblemsTable />
    <If debugEval={true} expression="can_edit">
        <Button
            class="w-fit self-end"
            as="a"
            href={`/contests/${variable("contest.id")}/problems/new`}>Create New Problem</Button
        >
    </If>
</ContestLayout>
