---
import BreadCrumb from "@/components/BreadCrumb.astro";
import ProblemRun from "@/components/ProblemRun.astro";
import Tile from "@/components/Tile.astro";
import Else from "@/components/tera/Else.astro";
import For from "@/components/tera/For.astro";
import Layout from "@/layouts/Layout.astro";
import { variable } from "@/lib/tera";

const problemRoute = `/contests/${variable("problem.contest_id")}/problems/${variable("problem.slug")}/runs`;
---

<Layout class="flex flex-col gap-4" title={`Runs for ${variable("problem.name")}`}>
    <Tile>
        <BreadCrumb
            entries={[
                ["Contests", "/contests"],
                [variable("contest_name"), `/contests/${variable("problem.contest_id")}`],
                ["Problems", `/contests/${variable("problem.contest_id")}/problems`],
                [
                    variable("problem.name"),
                    `/contests/${variable("problem.contest_id")}/problems/${variable("problem.slug")}`
                ],
                ["Runs", problemRoute]
            ]}
        />
    </Tile>
    <Tile class="flex flex-col gap-4">
        <For sourceList="runs" itemName="run">
            <ProblemRun casesName="case_count" class="bg-background-200 p-4" objName="run" />
            <Else>
                <div class="p-4 text-center">You haven't attempted this problem yet.</div>
            </Else>
        </For>
    </Tile>
</Layout>
