ROCKET_OAUTH="{
    github = {
        client_id = "<client_id>",
        client_secret = "<client_secret>"
    },
    google = {
        client_id = "<client_id>",
        client_secret = "<client_secret>"
    }
}"
