---
import Form from "@/components/Form.astro";
import Field from "@/components/Field.astro";
---

<Form>
    <Field
        name="name"
        type="text"
        help="Friendly name for the contest"
        minlength={1}
        maxlength={100}
        required
    />
    <Field
        name="description"
        type="textarea"
        help="Description of the contest"
        minlength={1}
        maxlength={1000}
        required
    />
    <Field
        name="registration_deadline"
        type="datetime-local"
        help="Deadline for registration"
        required
    />
    <Field
        name="start_time"
        type="datetime-local"
        help="Start date and time of the contest"
        required
    />
    <Field name="end_time" type="datetime-local" help="End date and time of the contest" required />
    <Field
        name="penalty"
        label="Penalty (minutes)"
        type="number"
        help="Penalty in minutes for each wrong submission. This will not be applied on compile or judge errors"
        min={0}
    />
    <Field
        name="max_participants"
        type="number"
        help="Maximum number of participants, leave blank for unlimited"
        min={1}
        max={1000}
    />
</Form>
