---
import NavLink from "@/components/layout/nav/NavLink.astro";
import Else from "@/components/tera/Else.astro";
import If from "@/components/tera/If.astro";
import Variable from "@/components/tera/Variable.astro";
import { Icon } from "astro-icon/components";

export interface Props {
    currentTitle: string;
}

//const { currentTitle } = Astro.props;
---

<nav class="sticky my-2 rounded bg-background-100 p-4">
    <ul class="flex gap-3 align-middle">
        <NavLink color="accent" href="/" class="flex gap-1 align-middle">
            <Icon class="text-accent" size={27} name="tabler:trophy-filled" />
            WCPC
        </NavLink>
        <NavLink href="/contests">Contests</NavLink>
        <NavLink href="/about">About</NavLink>
        <span class="flex-grow"></span>
        <If debugEval={true} expression="logged_in">
            <NavLink href="/profile" class="flex gap-1 align-middle">
                <Icon class="text-accent" size={27} name="tabler:user" />
                <Variable expression="name" debugEval="User" />
            </NavLink>
            <Else slot="else">
                <NavLink href="/login" class="flex gap-1 align-middle">
                    <Icon class="text-accent" size={27} name="tabler:login-2" />
                    Login / Sign-Up
                </NavLink>
            </Else>
        </If>
    </ul>
</nav>
