---
import Link from "@/components/Link.astro";
import type { Props as LinkProps } from "@/components/Link.astro";
export interface Props extends LinkProps {}

const { color, ...props } = Astro.props;
---

<li class="flex text-center align-middle text-lg">
    {/* @ts-ignore */}
    <Link color={color ?? "text"} {...props}>
        <slot />
    </Link>
</li>
