---
import Form from "@/components/Form.astro";
import Settings from "@/layouts/Settings.astro";
---

<Settings title="Contest">
    <Form>
        <p>NGL I don't have anything to put here rn :P</p>
    </Form>
</Settings>
