---
import Layout from '@/layouts/Layout.astro';
import Variable from "@/components/tera/Variable.astro";
---

<Layout title="West Chester Programming Competition">
	<main>
		<h1>Welcome to the West Chester Programming Competition, <Variable expression="name" />!!!!</h1>
	</main>
</Layout>
