---
import BreadCrumb from "@/components/BreadCrumb.astro";
import Link from "@/components/Link.astro";
import Title from "@/components/Title.astro";
import TableCol from "@/components/table/TableCol.astro";
import TemplatedTable from "@/components/table/TemplatedTable.astro";
import Else from "@/components/tera/Else.astro";
import For from "@/components/tera/For.astro";
import If from "@/components/tera/If.astro";
import Variable from "@/components/tera/Variable.astro";
import ContestLayout from "@/layouts/ContestLayout.astro";
import { variable } from "@/lib/tera";
import { Icon } from "astro-icon/components";

const description = `Leaderboard for ${variable("contest.name")}, WCPC`;
---

<ContestLayout
    path=`/contests/${variable("contest.id")}/leaderboard`
    title="Leaderboard"
    description={description}
    makeTile
>
    <BreadCrumb
        entries={[
            ["Contests", "/contests"],
            [variable("contest.name"), `/contests/${variable("contest.id")}/`],
            ["Leaderboard", `/contests/${variable("contest.id")}/leaderboard`]
        ]}
    />
    <Title>Leaderboard for <Variable expression="contest.name" /></Title>
    <TemplatedTable
        addColSpan={100}
        idColName="user.id"
        emptyText="No one has joined this contest yet!"
        listName="entries"
        itemName="entry"
        columns={[
            {
                name: "loop.index",
                forceNoPrefix: true,
                label: "Place",
                placeIndicator: "",
                centerHeader: true
            },
            {
                name: "user.display_name | default(value=entry.user.default_display_name)",
                avatarVar: "entry.user",
                label: "User",
                makeLink: `/profile/${variable("entry.user.id")}`
            }
        ]}
    >
        <For slot="head" sourceList="problems" itemName="problem">
            <TableCol as="th" scope="column">
                <If expression="has_started or is_admin or is_judge">
                    <Link
                        color="secondary"
                        underline
                        href={`/contests/${variable("contest.id")}/problems/${variable("problem.slug")}`}
                    >
                        <Variable expression="problem.name" />
                    </Link>
                    <Else slot="else">
                        Problem <Variable expression="loop.index" />
                    </Else>
                </If>
            </TableCol>
        </For>
        <For sourceList="problems" itemName="problem">
            <TableCol
                data-status={variable("problem.id in entry.problems_completed")}
                class="group"
                id=`problem-completion-indication-${variable("entry.user.id")}-${variable("problem.id")}`
            >
                <Icon
                    size={30}
                    name="tabler:circle-x"
                    class="hidden text-gray-500 group-[[data-status=false]]:inline"
                />
                <Icon
                    size={30}
                    name="tabler:circle-check"
                    class="hidden text-green-600 group-[[data-status=true]]:inline"
                />
            </TableCol>
        </For>
    </TemplatedTable>
</ContestLayout>
